<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/banner_home.jpeg')">
   <div class="container">
      <h1><strong>AirbnBooks.</strong></h1>
      <p>Book your next book for free.</p>
   </div>
</div>

<div class="container">
   <div class="card mt-5" style="width: 18rem;">
      <div class="bg-white rounded shadow h-100">
         <div class="card-body">
            <% @books.each do |book| %>
            <% if book.photo.attached?%>
            <p class="card-image"><%= cl_image_tag book.photo.key, height: 300%></p>
            <% end %>
            <strong>
               <p class="card-title"><%= book.title %></p>
            </strong>
            <p class="card-text"><%= book.details %></p>
         </div>
         <div class="d-flex justify-content-around">
            <%= link_to "Details", book_path(book), class: "button btn btn-light mb-3" %>
            <%= link_to "Delete", book_path(book), class: "btn btn-ghost mb-3", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this book from your list?" } if book.user == current_user %>
         </div>
         <% end %>
      </div>
   </div>
</div>
<div class="container">
   <div class="my-5">
      <%= link_to "New book", new_book_path, class: "button btn btn-light" %>
   </div>
</div>
