
<h2><%= @book.title %></h2>
<ul>
  <li><%= @book.details %></li>
  <li><%= @book.author %></li>
  <li><%= @book.year %></li>
  <%= link_to "create booking", new_book_booking_path(@book), class: "btn btn-light" %>
  <%= link_to "back to books", books_path, class: "btn btn-light" %>
</ul>
