<div class="container justify-content-start mt-4 ">
  <%= link_to books_path do %>
    <i class="fa-solid fa-arrow-left-long fa-2xl" style="color: #333"></i>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h1 class="mt-5 text-center"><strong>Reviews</strong></h1>
      <div class="my-5 justify-content-center">
        <%= simple_form_for [@book, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, collection: (1..5).to_a, label: 'Rate the book', input_html: {data: {controller: "star-rating"}} %>
          <%= f.submit "Submit review", class: "button btn btn-light" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
